<%= render "events/nav" %>
<h1>Event</h1>

<h2>Past Events</h2>
<div>
  <% @events.past.each do |e|%>
  <li><%= link_to e.title, event_path(e), method: :get%>, <%= e.date%></li>
  <% end %>
</div>

<h2>Future Events</h2>
<div>
  <% @events.future.each do |e|%>
  <li><%= link_to e.title, event_path(e), method: :get%>, <%= e.date%></li>
  <% end %>
</div>

<div>
  <%= button_to "Logout", destroy_user_session_path, method: :delete  %>
</div>
