<%= render "events/nav" %>

<%= button_to 'Attend', attend_event_path(@event), method: :post, confirm: 'really?' %>

<h2>EVENT:</h2>
<div>
<p><%= @event.title %></p>
<p>DATE: <%= @event.date %></p>
<h3>Attendees:</h3>
<% @event.attendees.each do |e| %>
<li><%=e.email %></li>
<% end %>
</div>
