<%= form_with model: @joins, data: { turbo: false} do |f| %>
<p>
  <%= f.label :attended_events, "Events:" %><br />
  <% for event in Event.all %>
    <%= f.check_box :attended_events %>
    <%= event.title %><br />
  <% end %>
</p>
  <%= f.submit %>
<% end %>
